* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  z-index: 100;
  top: 0; */
}
nav {
  top: 0;
  position: sticky;
  background: #ffffff;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
li {
  list-style: none;
  font-size: 35px;
  font-family: cursive;
}
.logo img {
  margin-right: 15vw;
}
.list {
  font-size: 25px;
  font-weight: bold;
}
.heroSection {
  font-family: "santserret", sans-serif;
  height: 100vh;
  background: url(/images/Crowd.appen.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: justify;
  padding: 18vh 25vw;
  color: white;
  font-size: 35px;
}

.btn1 {
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  background: #ef4126;
  color: white;
}
.btn2 {
  padding: 15px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 35px;
  background: #6c97a6;
}
.btn1 a,
.btn2 a {
  text-decoration: none;
  color: white;
}
.join {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.join h1 {
  font-weight: 900;
  font-size: 55px;
  /* margin-bottom: 35px; */
}
.imgManage {
  margin-bottom: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
